*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    background-color: rgb(24, 129, 205);
    display: flex;
    justify-content: flex-end;
}

.menu a{
    text-decoration: none;
    padding: 20px;
    margin: 0px 4px;
    color: white;
    border-radius: 4px;
}

.menu a:hover{
    background-color: rgba(30, 97, 155, 0.751);
}

@media screen and (max-width:570px) {
    .menu{
        flex-direction: column;
    }
    .menu a{
        font-size: larger;
        background-color: rgb(24, 129, 205);
        margin: 4px 0px;
        text-align: center;
        border-radius: 4px;
    }
}